.header {
  text-align: center;
  box-shadow: 1px 1px 7px grey;
  height: 100%;
  padding: 10px;
}

@media screen and (max-width: 80em) {
  .header {
    text-align: center;
    box-shadow: 1px 1px 7px grey;
    padding: 10px;
    position: fixed;
    height: 35px;
    width: 100%;
    background-color: white;
    z-index: 1;
  }
}
